@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer components {
  .cube-container {
    width: 100%;
    height: 120%;
    padding-top: 50px;
    overflow: hidden;

    .cube-spinner {
      animation-name: spincube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      transform-style: preserve-3d;
      transform-origin: 100px 100px 0;
      margin-left: calc(50% - 100px);

      div {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px #ffffe0;
      }

      .icon0 {
        transform: translateZ(100px);
      }
      .icon1 {
        transform: rotateY(90deg) translateZ(100px);
      }
      .icon2 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      }
      .icon3 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      }
      .icon4 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      }
      .icon5 {
        transform: rotateX(-90deg) translateZ(100px);
      }
    }
  }

  @media (max-width: 700px) {
    .cube-container {
      width: 120%;
      height: 120%;
      padding-top: 50px;
      overflow: hidden;
      margin-right: 1rem;

      .cube-spinner {
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 12s;
        transform-style: preserve-3d;
        transform-origin: 60px 60px 0;
        margin-left: calc(50% - 60px);

        div {
          position: absolute;
          width: 120px;
          height: 120px;
          background-color: rgba(255, 255, 255, 0.4);
          text-align: center;
          font-size: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 20px #ffffe0;
        }

        .icon0 {
          transform: translateZ(60px);
        }
        .icon1 {
          transform: rotateY(90deg) translateZ(60px);
        }
        .icon2 {
          transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
        }
        .icon3 {
          transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
        }
        .icon4 {
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
        }
        .icon5 {
          transform: rotateX(-90deg) translateZ(60px);
        }
      }
    }
  }

  .skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @apply w-[400px] h-[500px] m-auto gap-2 rounded max-md:w-full max-md:h-full max-md:ml-5;

    &-grid {
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.1);
      @apply rounded cursor-pointer w-full h-full shadow-xl flex items-center justify-center hover:shadow-sm;
    }
  }

  .inputField {
    background-color: rgba(255, 255, 255, 0.4);
    @apply outline-none rounded-sm border-b px-2 py-2  shadow focus:border-black transition-all;
  }
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateZ(90deg);
    }
    836% {
      transform: rotateX(90deg);
    }
  }

  @keyframes rubberband {
    0% {
      transform: scaleX(1);
    }
    40% {
      transform: scaleX(1.12) scaleY(0.75);
    }
    55% {
      transform: scaleX(0.85) scaleY(1);
    }
    65% {
      transform: scaleX(1.09) scaleY(0.85);
    }
    75% {
      transform: scaleX(0.9) scaleY(1);
    }
    90% {
      transform: scaleX(1.05) scaleY(0.95);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
}
